﻿
@{
    ViewBag.Title = "New";
}
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Update","Home"))
{
    <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" class="form-control" id="date" name="date" value="@Model["Date"].InnerText">
    </div>
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" value="@Model["Title"].InnerText">
    </div>
    <div class="form-group">
        <label for="note">Note:</label>
        <textarea class="form-control" id="note" name="note" rows="10" cols="5">@Model["Note"].InnerText</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
}
