﻿
@{
    ViewBag.Title = "Read";
}

<div class="container">

    <h2>@Model["Title"].InnerText</h2>

    <p>@Model["Date"].InnerText</p>
    <div class="card">
        <blockquote>@Model["Note"].InnerText</blockquote>
    </div>

    @Html.ActionLink("Update", "Edit", new { id = Model["Id"].InnerText }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model["Id"].InnerText })

</div>



