﻿@{
    ViewBag.Title = "Home Page";
}
<h1>Titles of the Notes</h1>


@foreach (var n in Model)  
{
<div class="container">
    
 <p><a class="btn btn-default" href="Get/@n["Id"].InnerText">@n["Title"].InnerText</a></p>
</div>
}
